@font-face {
    font-family: "Avenir Roman";
    src: url("avenir-roman.ttf") format("truetype");
}


@media screen and (max-width: 1700px) {
body {
    padding-top: 70px;
    background-image: url("imagenscss/original.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* width: 100vw; */ /* toda area visivel, view port */
    display: flex;
    align-items: center;
    background-size: 100%;
    
    }
}

@media screen and (max-width: 1500px) {
body {
    padding-top: 70px;
    background-image: url("imagenscss/original.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    /*width: 100%;*/
    height: 100vh;
    /* width: 100vw; */ /* toda area visivel, view port */
    display: flex;
    align-items: center;
    background-size: 100%;
    
    }
}

@media screen and (max-width: 1024px) {
    body {
        padding-top: 70px;
        background-image: url("imagenscss/original-mobile.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        display: block;
        align-items: center;
        }

    }

@media screen and (max-width: 768px) {
    body {
        padding-top: 70px;
        background-image: url("imagenscss/original-mobile.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        /*height: 100vh;*/
        /*width: 100%; */
        display: block;
        align-items: center;
        
        }

    }

.titulo {
    font-family: "Avenir Roman", sans-serif;
    padding-bottom: 24px;
    margin-left: -70px;
    font-size: 28px;
    line-height: 38px;
    font-weight: bold;
    color: #f9f9f9;
    
}

@media screen and (max-width: 768px) {
.titulo {
    font-family: "Avenir Roman", sans-serif;
    margin-top: 200px;
    margin-left: -160px;
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
    color: #f9f9f9;
    display: flex;
    
    }
}

@media screen and (max-width: 1700px) {
.logo {
max-width: 320px;
    
    }

}

@media screen and (max-width: 1500px) {
.logo {
max-width: 280px;
    
    }

}

@media screen and (max-width: 1024px) {
.logo {
max-width: 280px;
    
    }

}

@media screen and (max-width: 768px) {
.logo {
max-width: 1000px;
max-height: 100px;
margin-left: -80px;
margin-top: -30px;
display: flex;
    }

}


.hero {
    padding-bottom: 160px;
    background-repeat: no-repeat;
    margin-left: 220px;
    }



@media screen and (max-width: 1700px) {
.botao-entrar {
    margin-bottom: auto;
    margin-top: -60px;
    margin-left: 620px;
    width: auto;
    
    }
}

@media screen and (max-width: 1500px) {
.botao-entrar {
    margin-bottom: auto;
    margin-top: -60px;
    margin-left: 520px;
    width: 100%;
    width: auto;
   
    }
}

@media screen and (max-width: 1024px) {
.botao-entrar {
    margin-bottom: auto;
    margin-top: -640px;
    margin-left: 860px;
    width: auto;
     
    }
}

@media screen and (max-width: 768px) {
.botao-entrar {
    
    margin-top: -720px;
    margin-left: 380px;
   
    }
}

@media screen and (max-width: 1700px) {
.entrar  {
    
   font-family: "Avenir Roman", sans-serif;
   font-size: 18px;
   color: #ffff;
   border: 1px solid silver;
   border-radius: 4px;
   background-color: transparent;
   height: 50px;
   padding-left: 16px;
   padding-right: 16px;
   cursor: pointer;
   
    }
}

@media screen and (max-width: 1500px) {
.entrar  {
   font-family: "Avenir Roman", sans-serif;
   font-size: 18px;
   color: #ffff;
   border: 1px solid silver;
   border-radius: 4px;
   background-color: transparent;
   height: 50px;
   padding-left: 10px;
   padding-right: 10px;
   cursor: pointer;
   
    }
}

@media screen and (max-width: 1024px) {
.entrar  {
    font-family: "Avenir Roman", sans-serif;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
   
   
    }
}

@media screen and (max-width: 768px) {
.entrar  {
   font-family: "Avenir Roman", sans-serif;
   padding-left: 8px;
   padding-right: 8px;
   height: 45px;
   width: auto; 
   border: 1px solid #f9f9f9;
   margin: 5px;
   cursor: pointer;
   border-radius: 4px;
   box-sizing: border-box;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 15px;
   line-height: 15px;
   background-color: black;
    
    
   

    }
}

@media screen and (max-width: 1700px) {
.botao-assine {
padding-top: 20px;
margin-left: -120px;
display: flex;
    }
}

@media screen and (max-width: 1500px) {
.botao-assine {
padding-top: 20px;
margin-left: -155px;

    }
}

@media screen and (max-width: 1024px) {
.botao-assine {
padding-top: 20px;
margin-left: -155px;

    }
}

@media screen and (max-width: 768px) {
.botao-assine {
margin-left: -200px;
display: flex;
    }
}

@media screen and (max-width: 1700px) {
.assine {
color: #f9f9f9;
font-family: "Avenir Roman",sans-serif;
background:  #d60000;
width: 640px;
height: 68px;
cursor: pointer;
font-size: 18px;
line-height: 18px;
border-radius: 5px;
border: 8px solid transparent;

    } 
}

@media screen and (max-width: 1500px) {
.assine {
color: #f9f9f9;
font-family: "Avenir Roman",sans-serif;
background: #00d624;
width: 600px;
height: 68px;
cursor: pointer;
font-size: 18px;
line-height: 18px;
border-radius: 5px;
border: 8px solid transparent;


    }   
}

@media screen and (max-width: 1024px) {
.assine {
color: #f9f9f9;
font-family: "Avenir Roman",sans-serif;
background: #00d624;
width: 600px;
height: 68px;
cursor: pointer;
font-size: 18px;
line-height: 18px;
border-radius: 5px;
border: 8px solid transparent;


    }   
}

@media screen and (max-width: 768px) {
.assine {
color: #f9f9f9;
font-family: "Avenir Roman",sans-serif;
background: #0004d6;
width: 433px;
height: 50px;
cursor: pointer;
font-size: 18px;
line-height: 18px;
border-radius: 5px;
border: 8px solid transparent;

    }   
}

@media screen and (max-width: 1700px) {
    .small-text1 {
       color: #f9f9f9;
       margin-left: -100px; 
       /* display:inline; */
        /*margin-left: 100px;*/
    }
}

@media screen and (max-width: 1500px) {
    .small-text1 {
       color: #f9f9f9;
       margin-left: -150px; 
       /* display:inline; */
        /*margin-left: 100px;*/
    }
}

@media screen and (max-width: 1024px) {
    .small-text1 {
       color: #f9f9f9;
       margin-left: -150px; 
       /* display:inline; */
        /*margin-left: 100px;*/
    }
}

@media screen and (max-width: 768px) {
.small-text1 {
   color: #f9f9f9;
   margin-left: -500px; 
   padding-left: 270px;

   display: block;
   /* display:inline; */
    /*margin-left: 100px;*/
    }
}

@media screen and (max-width: 768px) {
.small-text2 {
 
   color: #f9f9f9;
   display: flex;
   margin-left: 270px;
   margin-top: -24px;
   display: flex;

    }
}

@media screen and (max-width: 768px) {
.small-text3 {
   color: #f9f9f9;
   margin-left: 280px; 
   margin-top: -20px;
   display: block;
   /* display:inline; */
    /*margin-left: 100px;*/
    }
}

@media screen and (max-width: 1700px) {
.link{
    font-family: "Avenir Roman",sans-serif;
    cursor: pointer;
    color: #f9f9f9;
    text-align: inherit;
    font-size: 16px;
    line-height: 26px;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .2px;
    background-color: transparent;
    border: none;
    padding-top: 20px;
    padding-left: 35px;
    text-decoration: underline;

    }
}

@media screen and (max-width: 1500px) {
.link{
    font-family: "Avenir Roman",sans-serif;
    cursor: pointer;
    color: #f9f9f9;
    text-align: inherit;
    font-size: 16px;
    line-height: 26px;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .2px;
    background-color: transparent;
    border: none;
    padding-top: 20px;
    padding-left: 35px;
    text-decoration: underline;

    }
}

@media screen and (max-width: 1024px) {
.link{
    font-family: "Avenir Roman",sans-serif;
    cursor: pointer;
    color: #f9f9f9;
    text-align: inherit;
    font-size: 16px;
    line-height: 26px;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .2px;
    background-color: transparent;
    border: none;
    padding-top: 20px;
    padding-left: 35px;
    text-decoration: underline;

    }
}


@media screen and (max-width: 768px) {
.link{
    font-family: "Avenir Roman",sans-serif;
    cursor: pointer;
    color: #f9f9f9;
    text-align: inherit;
    font-size: 14px;
    line-height: 26px;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .2px;
    background-color: transparent;
    border: none;
    padding-top: 0px;
    padding-left: 35px;
    text-decoration: underline;
    display: flex;
    

    }
}

@media screen and (max-width: 1700px) {
.link1 {
font-family: "Avenir Roman",sans-serif;
    cursor: pointer;
    color: #f9f9f9;
    text-align: inherit;
    font-size: 16px;
    line-height: 26px;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .2px;
    background-color: transparent;
    border: none;
    padding-top: 20px;
    text-decoration: underline;
    }
}

@media screen and (max-width: 1500px) {
.link1 {
font-family: "Avenir Roman",sans-serif;
    cursor: pointer;
    color: #f9f9f9;
    text-align: inherit;
    font-size: 16px;
    line-height: 26px;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .2px;
    background-color: transparent;
    border: none;
    padding-top: 20px;
    text-decoration: underline;
    }
}

@media screen and (max-width: 1024px) {
.link1 {
font-family: "Avenir Roman",sans-serif;
    cursor: pointer;
    color: #f9f9f9;
    text-align: inherit;
    font-size: 16px;
    line-height: 26px;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .2px;
    background-color: transparent;
    border: none;
    padding-top: 20px;
    text-decoration: underline;
    }
}

@media screen and (max-width: 768px) {
.link1 {
font-family: "Avenir Roman",sans-serif;
    cursor: pointer;
    color: #f9f9f9;
    text-align: inherit;
    font-size: 14px;
    line-height: 26px;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .2px;
    background-color: transparent;
    border: none;
    padding-top: 0px;
    text-decoration: underline;
    display: flex;
    }
}




