@font-face {
    font-family: "Avenir Roman";
    src: url("avenir-roman.ttf") format("truetype");
}


@media screen and (max-width: 1700px) {
body {
    padding-top: 70px;
    background-image: url("imagenscss/original.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* width: 100vw; */ /* toda area visivel, view port */
    display: flex;
    align-items: center;
    background-size: 100%;
    
    }
}


@media screen and (max-width: 1500px) {
body {
    padding-top: 70px;
    background-image: url("imagenscss/original.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    /*width: 100%;*/
    height: 100vh;
    /* width: 100vw; */ /* toda area visivel, view port */
    display: flex;
    align-items: center;
    
    }
}



@media screen and (max-width: 768px) {
    body {
        padding-top: 70px;
        background-image: url("imagenscss/original-mobile.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        /*height: 100vh;*/
        /*width: 100%; */
        display: block;
        align-items: center;
        
        }

    }
    


.titulo {
    font-family: "Avenir Roman", sans-serif;
    padding-bottom: 24px;
    margin-left: -70px;
    font-size: 28px;
    line-height: 38px;
    font-weight: bold;
    color: #f9f9f9;
    
}

@media screen and (max-width: 768px) {
.logo {
max-width: 180px;

    }

}

@media screen and (max-width: 1500px) {
.logo {
max-width: 320px;
    
    }

}

@media screen and (max-width: 1700px) {
.logo {
max-width: 320px;
    
    }

}

@media only screen and (min-width: 768px) and (min-width: 1500px) {
.hero {
    padding-bottom: 160px;
    background-repeat: no-repeat;
    margin-left: 220px;
    }

}





@media screen and (max-width: 768px) {
.botao-entrar {
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    width: 100%;
   
    }
}

@media screen and (max-width: 1500px) {
.botao-entrar {
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    width: 100%;
   
    }
}

@media screen and (max-width: 1700px) {
.botao-entrar {
    margin-bottom: auto;
    margin-top: -60px;
    margin-left: 560px;
    
    }
}

@media screen and (max-width: 768px) {
.entrar  {
   font-family: "Avenir Roman", sans-serif;
   font-size: 18px;
   color: #ffff;
   border: 1px solid silver;
   border-radius: 4px;
   background-color: transparent;
   height: 40px;
   width: auto;
   padding-left: 8px;
   padding-right: 8px;
   cursor: pointer;
   display: flex;
    background-size: 100%;

    }
}

@media screen and (max-width: 1500px) {
.entrar  {
   font-family: "Avenir Roman", sans-serif;
   font-size: 18px;
   color: #ffff;
   border: 1px solid silver;
   border-radius: 4px;
   background-color: transparent;
   height: 40px;
   width: auto;
   padding-left: 8px;
   padding-right: 8px;
   cursor: pointer;
   display: flex;
    background-size: 100%;

    }
}

@media screen and (max-width: 1700px) {
.entrar  {
    
   font-family: "Avenir Roman", sans-serif;
   font-size: 18px;
   color: #ffff;
   border: 1px solid silver;
   border-radius: 4px;
   background-color: transparent;
   height: 50px;
   padding-left: 16px;
   padding-right: 16px;
   cursor: pointer;
   
    }
}



@media screen and (max-width: 768px) {
.botao-assine {
padding-top: 20px;
margin-left: -120px;
display: flex;
    }
}

@media screen and (max-width: 1500px) {
.botao-assine {
padding-top: 20px;
margin-left: -120px;
display: flex;
    }
}

@media screen and (max-width: 1700px) {
.botao-assine {
padding-top: 20px;
margin-left: -120px;
display: flex;
    }
}



@media screen and (max-width: 768px) {
.assine {
color: #f9f9f9;
font-family: "Avenir Roman",sans-serif;
background: #7b00d6;
width: 640px;
height: 68px;
cursor: pointer;
font-size: 18px;
line-height: 18px;

    }   

}

@media screen and (max-width: 1500px) {
.assine {
color: #f9f9f9;
font-family: "Avenir Roman",sans-serif;
background: #7b00d6;
width: 640px;
height: 68px;
cursor: pointer;
font-size: 18px;
line-height: 18px;

    }   

}

@media screen and (max-width: 1700px) {
.assine {
color: #f9f9f9;
font-family: "Avenir Roman",sans-serif;
background:  #7b00d6;
width: 640px;
height: 68px;
cursor: pointer;
font-size: 18px;
line-height: 18px;
    } 
}

@media screen and (max-width: 768px) {
.small-text1 {
   color: #f9f9f9;
   margin-left: -105px; 
   /* display:inline; */
    /*margin-left: 100px;*/
    }
}

@media screen and (max-width: 1500px) {
    .small-text1 {
       color: #f9f9f9;
       margin-left: -50px; 
       /* display:inline; */
        /*margin-left: 100px;*/
    }
}

@media screen and (max-width: 1700px) {
    .small-text1 {
       color: #f9f9f9;
       margin-left: -50px; 
       /* display:inline; */
        /*margin-left: 100px;*/
    }
}




@media screen and (max-width: 768px) {
.link{
    font-family: "Avenir Roman",sans-serif;
    cursor: pointer;
    color: #f9f9f9;
    text-align: inherit;
    font-size: 16px;
    line-height: 26px;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .2px;
    background-color: transparent;
    border: none;
    padding-top: 20px;
    padding-left: 35px;
    text-decoration: underline;

    }
}

@media screen and (max-width: 1500px) {
.link{
    font-family: "Avenir Roman",sans-serif;
    cursor: pointer;
    color: #f9f9f9;
    text-align: inherit;
    font-size: 16px;
    line-height: 26px;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .2px;
    background-color: transparent;
    border: none;
    padding-top: 20px;
    padding-left: 35px;
    text-decoration: underline;

    }
}

@media screen and (max-width: 1700px) {
.link{
    font-family: "Avenir Roman",sans-serif;
    cursor: pointer;
    color: #f9f9f9;
    text-align: inherit;
    font-size: 16px;
    line-height: 26px;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .2px;
    background-color: transparent;
    border: none;
    padding-top: 20px;
    padding-left: 35px;
    text-decoration: underline;

    }
}

@media screen and (max-width: 768px) {
.link1 {
font-family: "Avenir Roman",sans-serif;
    cursor: pointer;
    color: #f9f9f9;
    text-align: inherit;
    font-size: 16px;
    line-height: 26px;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .2px;
    background-color: transparent;
    border: none;
    padding-top: 20px;
    text-decoration: underline;
    }
}

@media screen and (max-width: 1500px) {
.link1 {
font-family: "Avenir Roman",sans-serif;
    cursor: pointer;
    color: #f9f9f9;
    text-align: inherit;
    font-size: 16px;
    line-height: 26px;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .2px;
    background-color: transparent;
    border: none;
    padding-top: 20px;
    text-decoration: underline;
    }
}

@media screen and (max-width: 1700px) {
.link1 {
font-family: "Avenir Roman",sans-serif;
    cursor: pointer;
    color: #f9f9f9;
    text-align: inherit;
    font-size: 16px;
    line-height: 26px;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .2px;
    background-color: transparent;
    border: none;
    padding-top: 20px;
    text-decoration: underline;
    }
}
